<!-- start widget -->
<div class="widget">
	<h4 class="title">Polly Slack Channel</h4>
	<div class="content">
		Join Polly on Slack!
		<p>
			<script async defer src="https://pollytalk.org/slackin.js?large"></script>
		</p>
	</div>
</div>
<!-- end widget -->