<!-- start widget -->
<div class="widget">
	<h4 class="title">What is Polly?</h4>
	<div class="content">
		<p>
			<a href="https://github.com/App-vNext/Polly" target="_blank">Polly</a> is a .NET resilience and transient-fault-handling library that allows developers to express policies such as Retry, Circuit Breaker, Timeout, Bulkhead Isolation, and Fallback in a fluent and thread-safe manner. Polly targets .NET 4.0, .NET 4.5 and .NET Standard 1.0.
		</p>
		<p>
			Join Polly on Slack!
		</p>
		<p>
			<script async defer src="http://pollytalk.org/slackin.js?large"></script>
		</p>
	</div>
</div>
<!-- end widget -->